$def with (page, dictTemplate, listTemplate)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SODA Tap Catalog (prototype)</title>

    <!-- Bootstrap -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- My Style -->
    <link href="/static/css/style.css" rel="stylesheet">
      
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
<h1>SODA TAP CATALOG</h1>

<h2>${len(page)} results:</h2>

$for resource in page:
    $ entry = resource["catalogEntry"]
    $ resourceData = entry["resource"]
    $ id = resourceData["id"]
    $ name = resourceData["name"]
    $ description = resourceData["description"]
    $ resourceDomain = entry["metadata"]["domain"]
    $ resourceClassification = entry["classification"]
    $ permalink = entry["permalink"]
    $ jsonUrl = resource["jsonUrl"]
    $ temporalField = resource["temporalField"]
    $ fieldTypes = resource["fieldTypes"]
    $ dataType = resource["type"]

    <article id="$id">
        <h3>$name <small>$resourceDomain $id</small></h3>
        <p>$description</p>
        <div id="${id}-viz" class="viz" 
             data-id="$id" 
             data-type="$dataType"
             data-json-url="$jsonUrl"
             data-temporal-field="$temporalField"
             $for k, v in fieldTypes.iteritems():
                 data-${k}="${v}"
        >
        </div>
        <div class="meta">
            <div class="types">
                $:dictTemplate(fieldTypes, dictTemplate, listTemplate)
            </div>
        </div>
    </article>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- lodash -->
    <script src="/static/bower_components/lodash/lodash.min.js"></script>
    <!-- Dygraphs -->
    <script src="/static/bower_components/dygraphs/dygraph-combined-dev.js"></script>
    <!-- Program code -->
    <script src="/static/js/catalog.js"></script>

  </body>
</html>

