$def with (page, dictTemplate, listTemplate)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SODA Tap Catalog (prototype)</title>

    <!-- Bootstrap -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- My Style -->
    <link href="/static/css/style.css" rel="stylesheet">
      
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
<h1>SODA TAP CATALOG</h1>

<h2>${len(page)} results:</h2>

<table>
$for resource in page:
    $ entry = resource["catalogEntry"]
    $ resourceData = entry["resource"]
    $ id = resourceData["id"]
    $ resourceDomain = entry["metadata"]["domain"]
    $ resourceClassification = entry["classification"]
    <tr>
        <th>
            <a href="${entry['permalink']}" target="_blank">
                $resourceData["name"]
            </a>
        </th>
        <th>
            <a href="${resource['jsonUrl']}" target="_blank">
                $resourceDomain
            </a>
        </th>
        <th>
            $resource["temporalField"]
        </th>
    </tr>
    <tr>
        <td colspan="3" class="viz" data-id="$id"></td>
    </tr>
    <tr>
        <td colspan="3">
            $:dictTemplate(resourceClassification, dictTemplate, listTemplate)
        </td>
    </tr>
    <tr>
        <td colspan="3">
            $:dictTemplate(resourceData, dictTemplate, listTemplate)
        </td>
    </tr>
</table>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Program code -->
    <script src="/static/js/catalog.js"></script>

  </body>
</html>

